

.molecule-item {
	margin: 20px 0;	
}

.molecule-item__name {
	font-size: 1em;
	display: block;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0 10px 10px;
}

.molecule-item__element {
	padding: 10px 0;
	font-family: $default-font-family;
}