@mixin font-smooth() {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
  }
  &:-moz-placeholder {
    color: $color; 
  }
  &::-webkit-input-placeholder {
    color: $color; 
  } 
}

@mixin breakpoint($size) {
  @media #{$size} { @content }
}