@import "normalize";

@import "variables";
@import "colors";
@import "settings";
@import "mixins";

@import "bourbon";
@import "foundation";

html, body {
	width: 100%;
	height: 100%;
	font-family: $default-font-family;
	background-color: $color-green;
}

@import "atoms/GridItemImage";
@import "atoms/GridItemLabel";
@import "atoms/Heading";
@import "atoms/HeroButton";
@import "atoms/HeroHeading";
@import "atoms/HeroImage";
@import "atoms/LargeMap";
@import "atoms/LocationAddress";
@import "atoms/Logo";
@import "atoms/NavItem";
@import "atoms/ProcessButton";
@import "atoms/ProcessItem";
@import "atoms/SelectDropdown";
@import "atoms/SgLink";
@import "atoms/SocialLink";
@import "atoms/SubmitInput";
@import "atoms/Text";
@import "atoms/TextArea";
@import "atoms/TextInput";

@import "molecules/FormGroup";
@import "molecules/GridItem";
@import "molecules/Hero";
@import "molecules/Locations";
@import "molecules/Molecule";
@import "molecules/NavItems";
@import "molecules/SgNav";
@import "molecules/SocialLinks";

@import "organisms/AtomSection";
@import "organisms/ContentArea";
@import "organisms/Footer";
@import "organisms/FooterNav";
@import "organisms/GridItems";
@import "organisms/NavBar";