.content-area {

	background-color: #fff;
	padding: 30px 0;

	.alignleft {
		text-align: left;
	}

	.alignright {
		text-align: right;
	}

	.aligncenter {
		text-align: center;
	}

	h1, h2 {
		color: $color-green;
	}

	@include breakpoint($medium-up) {
		padding: 90px 0;
	}

}