.nav-bar {
	background-color: rgba($color-light-grey, .9);
	padding: 10px 0;

	.show-for-desktop {
		display: none;

		@include breakpoint("#{$screen} and (min-width:#{1250px})") {
			display: block;
		}
	}

	.hide-for-desktop {
		display: block;
		height: 63px;

		@include breakpoint($small-up) {
			height: 80px;
		}

		@include breakpoint($medium-up) {
			height: 105px;
		}

		@include breakpoint("#{$screen} and (min-width:#{1250px})") {
			display: none;
		}
	}

	position: relative;

	.left-off-canvas-toggle {
		text-indent: -9999em;
		position: absolute;
		top: 50%;
		right: 1.5em;
		width: 2em;
		height: 1em;
		cursor: pointer;
		transform: translateY(-50%);

		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0.125em;
			border-bottom: 0.125em solid #fff;
		}

		&:before {
		}

		&:after {
			top: auto;
			bottom: 0;
		}
	}

	.small-12 {

		@include breakpoint($medium-only) {
			
			.small-3 {
				width: 50%;
			}

			.small-9 {
				width: 50%;
			}
			
		}

	}
}