.heading {
	font-weight: 200;
	margin: 0;
	text-transform: uppercase;
	color: $color-dark-grey;
}

.heading--lg {
	font-size: 30px;
	margin-bottom: 25px;
}

.heading--md {
	font-size: 22px;
	margin-bottom: 20px;
}

.heading--sm {
	font-size: 18px;
	margin-bottom: 15px;
}

.heading--xs {
	font-size: 16px;
	margin-bottom: 10px;
}

.content-area {
	h1 {
		@extend .heading;
		@extend .heading--lg;
	}

	h2 {
		@extend .heading;
		@extend .heading--md;
	}

	h3 {
		@extend .heading;
		@extend .heading--sm;
	}

	h4 {
		@extend .heading;
		@extend .heading--xs;
	}
}

.heading--center {
	text-align: center;
}