.location-addresses {
	margin: 40px 0 0;
}

.location-address {

	float: left;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 40px;
	text-align: center;

	@include breakpoint($small-up) {
		width: 50%;
		text-align: left;
	}

	@include breakpoint($medium-up) {
		width: 33.333%;
	}

	@include breakpoint($large-up) {
		width: 20%;
	}

	address, h4 {
		color: $color-dark-grey;
		font-size: 22px;
		text-transform: uppercase;
		font-style: normal;
	}

}