

.logo {
	margin: 0;

	a {
		width: 380px;
		height: 105px;
		text-indent: -9999em;
		display: block;
		overflow: hidden;
		background: url(/assets/images/logo.png) no-repeat;
		text-decoration: none;

		@include hidpi {
			background-image: url(/assets/images/logo@2x.png);
			background-size: 380px 105px;
		}
	}
}