.process-button {
	outline: 2px solid #fff;
	color: #fff;
	padding: 5px 10px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	@include font-smooth;

	&:hover {
		outline: 2px solid darken(#fff, 10%);
		color: darken(#fff, 10%);
	}

	@include breakpoint($small-up) {
		padding-left: 10px;
		padding-right: 10px;
	}

	@include breakpoint($medium-up) {
		padding-left: 70px;
		padding-right: 70px;
	}
}